{% extends "_layout.html" %}
{% block title %}Error{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="card mx-auto" style="width: 60%;">
            <img src="{{ url_for('static', filename = 'images/error.png') }}" alt="Error" style="height: 40vh;" class="card-image-top mx-auto">
            <div class="card-body text-center">
                <h3 class="card-title">{{ title }}</h3>
                <p>{{ msg }}</p>
                {% if back %}
                    <a href="{{ url_for(back) }}" class="btn btn-info">Go Back</a>
                {% else %}
                    <a href="{{ url_for('routes.Index') }}" class="btn btn-info">Home</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}