{% extends "_layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    {{ super() }}
    <div class="splash-bg jumbotron">
        <div class="pt-5">
            <div class="container-fluid col-md-8">
                <form method="post">
                    <label class="sr-only" for="txtURL">URL</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-link"></i></div>
                        </div>
                        {% if error %}
                        <input class="form-control form-control-lg is-invalid" type="text" name="url" value="{{ urlVal }}" id="txtURL" placeholder="URL you wish to shorten . . .">
                        {% else %}
                        <input class="form-control form-control-lg" type="text" name="url" id="txtURL" placeholder="URL you wish to shorten . . .">
                        {% endif %}
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-primary" value="  Go  ">
                        </div>
                    </div>
                </form>
                {% if short %}
                <div class="short-holder">
                    <p style="color: white;"><a class="btn btn-link" href="{{ short }}">{{ short }}</a> - <button class="btn btn-link" onclick="navigator.clipboard.writeText('{{ short }}'); javascript:$(this).addClass('text-success').css('font-weight', 'bold').text('copied!').blur()">copy</button></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container main">
        <div class="row text-center justify-content-center">
            <div class="col-md-5 pb-3">
                <div class="text-icon-header">
                    <i class="fas fa-link"></i>
                </div>
                URL Shortener takes a URL, gives it a "key" and then redirects https://my_domain.com/key to the original URL. This is useful because it prevents massive URLs from cluttering up documents, emails, or whatever else you are making. Instead, you can just link a nice, short and clean URL that allows you to get your point across while looking proffesional at the same time. Say goodbye to URL cluttered documents and emails!
            </div>
            <div class="col-md-1 pb-3">
            </div>
            <div class="col-md-5 pb-3">
                <div class="text-icon-header">
                    <i class="fas fa-chart-pie"></i>
                </div>
                URL Shortener is useful for buisnesses where they can have short links for all of their services, rather than massive ones that slow down workflow. To make use of URL Shortener for a buisness, clone the <a href="https://github.com/BLM16/URL-Shortener">repository from GitHub</a>, configure it to your liking, and host it on your own domain. https://your_buisness.com/products/chairs/white_chairs/45651513213213 can be redirected to with https://short_domain.com/a8rt.
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/nav_scroll.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/input_validator.js') }}"></script>
{% endblock %}
